.bc__section{
  width: 100%;
  height: auto;
  margin: 4rem 0 5rem;//Becasue it is directly under the hero section
}

.bc__container{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.bc__filter{
  width: 100%;
  height: auto;
  padding: 1rem;
  d
}