.bd__section{
  width: 100%;
  height: auto;
  margin: 5rem 0 5rem !important;
}

.bd__wrapper{
  width: 100%;
  height: auto;
  background: linear-gradient(180deg,rgba(223, 24, 98, 1) 0%, rgba(245, 245, 245, 1) 100%);;
}

.bd__container2{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bdc__top{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bd__read{
  width: max-content;
  border: 1px solid var(--pink);
  padding: 0.5rem 1.2rem;
}

.read__item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.