.cf__section{
  width: 100%;
  height: auto;
  margin: 6rem 0 5rem !important;
}

.cf__container{

}

.cf__wrapper{
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  fle
}