.footer{
  position: relative;
  width: 100%;
  height: auto;
}

.footer__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__wrapper{
  width: 100%;
  height: auto;
  background-color: rgba(24, 32, 48, 1);
  border-radius: 30px;
}