.sl__section{
  position: relative;
  width: 100%;
  height: auto;
}

.slslider__container{
  width: 100%;
}

.sl__slider{
  width: max-content;
  position: relative;
  display: flex;
}

.slslider__main{
  display: flex;
  
  .slslider__space{
    width: 1rem;
    height: 1rem;
    display: block;
  }
}

.slslider__content{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-family: var(--script-font);
  font-size: calc(var(--h2-font-size) - 0.3rem);
  color: var(--body-color);
}

.slfirst__slide{
  display: flex;
  align-items: center;
  gap: 1.5rem;

  p{
    word-wrap: none;
  }

  .slspan__button{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--body-color);
  }
}

//Responsive Design
@media screen and (max-width: 650px) {
  .slslider__container{
    padding: 1.3rem 0;
  }

  .slfirst__slide{
    .slspan__button{
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}