.nav__header{
  width: 100%;
  height: auto;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.nav__container{
  height: max-content;
}

.logo__link{

}