@import "tailwindcss";

/*=============== VARIABLES SCSS ===============*/
:root {
  --pink: #df1861;
  --darkpink: #880f3b;
  --text-color: black;
  --text-color-grey: #535353;
  --body-color: #f5f5f5;


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/

  --biggest-font-size: 5rem;
  --h2-font-size: 2.8rem;
  --h3-font-size: 1.7rem;
  --normal-font-size: 1.1rem;
  --small-font-size: .90rem;
}

/* Responsive typography */
@media screen and (max-width: 1088px) {
  :root {
    --biggest-font-size: 4.3rem;
    --h2-font-size: 2.3rem;
    --h3-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --small-font-size: .855rem;
  }
}

@media screen and (max-width: 628px) {
  :root {
    --biggest-font-size: 6.2rem;
    --h2-font-size: 2.1rem;
    --normal-font-size: 0.95rem;
    --small-font-size: .80rem;
    --smaller-font-size: .73rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

}


html {
  scroll-behavior: auto;
  height: auto;
}

body,
button,
input,
textarea,
select {
  font-family: var(--regular-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1470px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.section{
  padding: 3rem 0 6rem;
}

@media screen and (max-width: 1024px) {
  .section{
    padding: 2rem 0 6rem;
  }
}


@media screen and (max-width: 540px) {
  .section{
    padding: 1rem 0 5rem;
  }
}



@media screen and (max-width: 1470px) {
  .container {
    max-width: 100%;
    margin: 0 3rem;
  }
}


@media screen and (max-width: 1088px) {
  .container {
    max-width: 100%;
    margin: 0 2rem;
  }
}


@media screen and (max-width: 628px) {
  .container {
    max-width: 100%;
    margin: 0 1.25rem;
  }
}


//Lenis Scroll
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}