.annual__section{
  width: 100%;
  height: auto;
}

.annual__container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.annual__h2{
  font-size: var(--h2-font-size);
  font-weight: 300;
  font-family: var(--medium-font);
}

.annual__content{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.report__wrapper{
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
}

.report__left{
  position: relative;
  width: 270px;
  aspect-ratio: 270/320;
  min-width: 270px;
  border-radius: 0.75rem;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.report__right{
  
}