.hhero__section{
  margin-top: 106px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backimage__parallax{
  width: 100%;
  height: 120vh;
  position: relative;
}

.back__image