.report__wrapper{
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
  transform: none;
  transition: all 0.6s ease;

  &:hover{
    transform: scale(0.95);
  }
}

.report__left{
  position: relative;
  width: 270px;
  aspect-ratio: 270/320;
  min-width: 270px;
  border-radius: 0.75rem;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.report__right{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rr__top{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.rrt__tag{
  width: max;
}

.report__p{
  font-size: calc(var(--h3-font-size));
  font-family: var(--medium-font);
  line-height: 1.2;
  color: black;
}