.button__wrapper{
  padding: 0.7rem 0.8rem;
  width: max-content;
  border-radius: 50px;
  display: block;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button__content{
  display: flex;
  align-items: center;
  gap: 0.5rem;


  span{
    font-size: var(--normal-font-size);
    transition: all 0.5s ease;
  }
}

.button__round{
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  transition: all 0.5s ease;
  display: block;
  position: relative;
}

.button__icon{
  width: 19.45px;
  height: 19.45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.5s ease;

  &.active__button{
    transform: translate(-50%, -50%) rotate(0deg);
  }

  svg{
    font-size: calc(var(--normal-font-size) + 0.1rem);
    transition: all 0.5s ease;
  }
}

.sub__right{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.spinner {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(223, 24, 97/50%) 30%,#72717100 0 70%,rgb(255 246 237/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(255 246 237/25%) 30%,#72717100 0 70%,rgb(255 246 237/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.spinner::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes s3 {
  100% {transform: rotate(1turn)}
}
